:root {
    font-size: 1rem;
}
@media (any-pointer: coarse) {
    :root {
        font-size: 0.7rem;
    }
}

:host:not([data-theme='dark']),
:root:not([data-theme='dark']),
[data-theme='light'] {
    --pico-header-background: #ffffffcc;
    --pico-header-border-color: transparent;
}
@media only screen and (prefers-color-scheme: dark) {
    :host:not([data-theme]),
    :root:not([data-theme]) {
        --pico-header-background: #13171fe6;
        --pico-header-border-color: #202632e6;
    }
}
[data-theme='dark'] {
    --pico-header-background: #13171fe6;
    --pico-header-border-color: #202632e6;
}

header {
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(1rem);
    border-bottom: 1px solid transparent;
    background: var(--pico-header-background);
    transition: border-bottom-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;

    &.scrolled {
        border-bottom-color: var(--pico-header-border-color);
        box-shadow: var(--pico-card-box-shadow);
    }

    #logo {
        display: flex;
        gap: 16px;
        align-items: center;
        text-decoration: none;
        color: var(--pico-h1-color);
    }

    nav img {
        width: 40px;
    }
}

.cntnr {
    max-width: 576px;
    margin: 0 auto;
    padding: 0 2rem;
}

section main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.text-message {
    position: relative;
    padding: 10px;
    white-space: preserve-spaces;
    background: var(--pico-card-background-color);
    border-radius: var(--pico-border-radius);
    box-shadow: var(--pico-card-box-shadow);
    max-width: 80%;
    width: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    img,
    video {
        border-radius: var(--pico-border-radius);
        width: fit-content;
        margin: 0 auto;
        max-width: 100%;
    }

    &.sender {
        align-self: flex-end;
        background-color: var(--pico-switch-background-color);
    }
    .file-link {
        --percent: 0%;
        width: 100%;
        text-decoration: none;
        position: relative;
        white-space: break-spaces !important;
    }
    .infos {
        width: 100%;
        color: var(--pico-muted-color);
        font-family: monospace;
        font-size: 0.7em;
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        a {
            cursor: pointer;
        }
    }
    .pbar {
        position: absolute;
        height: 2px;
        background-color: var(--pico-primary-hover-underline);
        bottom: 0;
        left: 0;
    }
}

#textBox {
    position: sticky;
    bottom: 2rem;
    box-shadow: var(--pico-box-shadow);
    #sendBtn {
        padding: 0px 15px !important;
        display: flex;
        svg {
            margin: auto;
            width: 20px;
            height: 20px;
        }
    }
}

#connectBtn {
    height: 32px;
    padding: 0 0.5rem;
}

#code {
    user-select: none;
    margin: 0 auto;
    background-color: white;
    img,
    canvas {
        max-width: 100%;
        padding: 10px;
        margin: 0 auto;
        display: block;
    }
}

[data-icon='file'] #sendMsg {
    display: none;
}

[data-icon='text'] #sendFile {
    display: none;
}

[data-disabled][data-icon='file'] #sendFile {
    display: none;
}

#loading {
    display: none;
    g {
        animation: rotate 2s linear infinite;
        transform-origin: center center;
    }
    circle {
        stroke-dasharray: 75, 100;
        stroke-dashoffset: -5;
        animation: dash 1.5s ease-in-out infinite;
        stroke-linecap: round;
        stroke-width: 4;
        stroke: currentColor;
        fill: none;
    }
}

[data-disabled][data-icon='file'] #loading {
    display: block;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 100;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 44.5, 100;
        stroke-dashoffset: -17.5;
    }
    100% {
        stroke-dasharray: 44.5, 100;
        stroke-dashoffset: -62;
    }
}

iframe {
    position: absolute;
    left: 0;
    top: 0;
    overflow: auto;
    width: 100svw;
    height: 100svh;
    z-index: 100;
}
