:root {
    font-size: 1rem;
}

.container {
    max-width: 600px;
}

article {
    margin-bottom: 0;
}

article main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    max-height: calc(100vh - 13rem);
}

#code {
    pointer-events: none;
    user-select: none;
    width: fit-content;
    margin: 0 auto;
    background-color: white;

    &:empty {
        display: none;
    }
    img,
    canvas {
        max-width: 100%;
        padding: 10px;
        /* width: 100%; */
        margin: 0 auto;
        display: block;
    }
}

#progress {
    height: 0.5rem;
    background: #0172ad;
    width: 0%;
    border-radius: 8px;
    max-width: 100%;
    transition: width 250ms ease-in-out;
}

#progressInfo {
    font-family: monospace;
    margin-bottom: 5px;
}
